:root {
    --yellow-text-color: rgb(255, 184, 53);
    --white-text-color: rgb(255, 253, 239);
}
.navbar-container {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-btn {
    border-bottom: 3px solid var(--white-text-color);
    text-align: center;
    width: 100%;
    transition-duration: 300ms;
}
.navbar-btn:hover {
    border-bottom: 3px solid var(--yellow-text-color);
}
.navbar-link {
    font-size: medium;
    color: var(--white-text-color);
    text-decoration: none;
    font-weight: 500;
    transition-duration: 300ms;
    min-width: 120px;
    padding-inline-end: 2px;
    padding-inline-start: 2px;
}
.navbar-link:hover {
    color:var(--yellow-text-color);
}